body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../项目编辑_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:94px;
    top:232px;
    width:919px;
    height:62px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:919px;
    height:62px;
}

.u1 {
    position:absolute;
    left:2px;
    top:23px;
    width:915px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:136px;
    top:316px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:220px;
    top:310px;
    width:322px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:136px;
    top:362px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:136px;
    top:403px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:136px;
    top:446px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:220px;
    top:587px;
    width:636px;
    height:297px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:136px;
    top:551px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../项目编辑_files/button_u9_mouseOver.png');
}

.u9_disabled {
    background-image: url('../项目编辑_files/button_u9_disabled.png');
}

.u9_normal {
    background-image: url('../项目编辑_files/button_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:220px;
    top:545px;
    width:110px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:135px;
    top:970px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:219px;
    top:965px;
    width:388px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:553px;
    top:316px;
    width:198px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:364px;
    top:543px;
    width:26px;
    height:27px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:27px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:400px;
    top:549px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:136px;
    top:594px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:220px;
    top:440px;
    width:636px;
    height:87px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:735px;
    top:499px;
    width:106px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../项目编辑_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:124px;
    top:1087px;
    width:540px;
    height:198px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:540px;
    height:198px;
}

.u21 {
    position:absolute;
    left:2px;
    top:91px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:220px;
    top:360px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:220px;
    top:401px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:370px;
    top:360px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:370px;
    top:401px;
    width:142px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:240px;
    top:676px;
    width:150px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:134px;
    top:1007px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:219px;
    top:1000px;
    width:250px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_mouseOver {
    background-image: url('../项目编辑_files/button_u29_mouseOver.png');
}

.u29_disabled {
    background-image: url('../项目编辑_files/button_u29_disabled.png');
}

.u29_normal {
    background-image: url('../项目编辑_files/button_u29_normal.png');
}

.u29_container {
    position:absolute;
    left:478px;
    top:1004px;
    width:59px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../项目编辑_files/button_u31_mouseOver.png');
}

.u31_disabled {
    background-image: url('../项目编辑_files/button_u31_disabled.png');
}

.u31_normal {
    background-image: url('../项目编辑_files/button_u31_normal.png');
}

.u31_container {
    position:absolute;
    left:548px;
    top:1004px;
    width:59px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:134px;
    top:1039px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:134px;
    top:1071px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:219px;
    top:1033px;
    width:250px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_mouseOver {
    background-image: url('../项目编辑_files/button_u36_mouseOver.png');
}

.u36_disabled {
    background-image: url('../项目编辑_files/button_u36_disabled.png');
}

.u36_normal {
    background-image: url('../项目编辑_files/button_u36_normal.png');
}

.u36_container {
    position:absolute;
    left:478px;
    top:1037px;
    width:59px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../项目编辑_files/button_u38_mouseOver.png');
}

.u38_disabled {
    background-image: url('../项目编辑_files/button_u38_disabled.png');
}

.u38_normal {
    background-image: url('../项目编辑_files/button_u38_normal.png');
}

.u38_container {
    position:absolute;
    left:548px;
    top:1037px;
    width:59px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:219px;
    top:1066px;
    width:250px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41_mouseOver {
    background-image: url('../项目编辑_files/button_u31_mouseOver.png');
}

.u41_disabled {
    background-image: url('../项目编辑_files/button_u31_disabled.png');
}

.u41_normal {
    background-image: url('../项目编辑_files/button_u31_normal.png');
}

.u41_container {
    position:absolute;
    left:478px;
    top:1069px;
    width:59px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../项目编辑_files/button_u38_mouseOver.png');
}

.u43_disabled {
    background-image: url('../项目编辑_files/button_u38_disabled.png');
}

.u43_normal {
    background-image: url('../项目编辑_files/button_u38_normal.png');
}

.u43_container {
    position:absolute;
    left:548px;
    top:1069px;
    width:59px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../项目编辑_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:640px;
    top:997px;
    width:385px;
    height:58px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:391px;
    height:64px;
}

.u46 {
    position:absolute;
    left:2px;
    top:21px;
    width:381px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../项目编辑_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:638px;
    top:995px;
    width:380px;
    height:56px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:62px;
}

.u48 {
    position:absolute;
    left:2px;
    top:20px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../项目编辑_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:626px;
    top:1007px;
    width:15px;
    height:22px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:28px;
}

.u50 {
    position:absolute;
    left:2px;
    top:3px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../项目编辑_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:639px;
    top:1005px;
    width:8px;
    height:26px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:5px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:647px;
    top:1005px;
    width:353px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:647px;
    top:1027px;
    width:353px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../项目编辑_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:124px;
    top:1093px;
    width:492px;
    height:129px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:498px;
    height:135px;
}

.u56 {
    position:absolute;
    left:2px;
    top:56px;
    width:488px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:114px;
    top:1175px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:112px;
    top:1207px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:219px;
    top:1170px;
    width:137px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:366px;
    top:1175px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:16px;
    top:0px;
    width:249px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:115px;
    top:1142px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:219px;
    top:1135px;
    width:137px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:366px;
    top:1142px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:117px;
    top:1107px;
    width:88px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:219px;
    top:1102px;
    width:163px;
    height:22px;
    ;
    ;
    ;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:392px;
    top:1106px;
    width:273px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:119px;
    top:894px;
    width:88px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:16px;
    top:0px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:16px;
    top:0px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:220px;
    top:929px;
    width:82px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:291px;
    top:924px;
    width:170px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:554px;
    top:924px;
    width:264px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:472px;
    top:929px;
    width:82px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

