body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../密码找回3_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:121px;
    top:139px;
    width:883px;
    height:445px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:889px;
    height:451px;
}

.u1 {
    position:absolute;
    left:2px;
    top:214px;
    width:879px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../前台页尾_files/u248_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:625px;
    width:1201px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:58px;
    top:641px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:225px;
    top:283px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:244px;
    top:332px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:304px;
    top:328px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:233px;
    top:376px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:304px;
    top:372px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../密码找回3_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:347px;
    top:200px;
    width:146px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../密码找回3_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:628px;
    top:198px;
    width:137px;
    height:38px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:38px;
}

.u14 {
    position:absolute;
    left:2px;
    top:11px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../密码找回3_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:214px;
    top:198px;
    width:136px;
    height:37px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:136px;
    height:37px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../密码找回3_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:494px;
    top:200px;
    width:134px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:134px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:512px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:650px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:225px;
    top:209px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:369px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:323px;
    top:435px;
    width:98px;
    height:37px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:400px;
    top:62px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../密码找回3_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:32px;
}

.u25 {
    position:absolute;
    left:378px;
    top:58px;
    width:10px;
    height:32px;
    
}

.u26_normal {
    background-image: url('../注册登录页头_files/u46_normal.png');
}

.u26_container {
    position:absolute;
    left:13px;
    top:30px;
    width:179px;
    height:86px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u27 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:194px;
    top:33px;
    width:126px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:194px;
    top:75px;
    width:174px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

