body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页头（登录后）_4_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1199px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:715px;
    top:12px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../前台页头（登录后）_4_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:42px;
    width:179px;
    height:86px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:201px;
    top:45px;
    width:126px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:201px;
    top:87px;
    width:174px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../前台页头（登录后）_4_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u9 {
    position:absolute;
    left:10px;
    top:158px;
    width:1199px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:429px;
    top:137px;
    width:85px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:324px;
    top:137px;
    width:85px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:217px;
    top:138px;
    width:85px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:539px;
    top:137px;
    width:85px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:411px;
    top:103px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:409px;
    top:73px;
    width:392px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_normal {
    background-image: url('../搜索框_4_files/Submit_button_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:816px;
    top:72px;
    width:60px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:409px;
    top:98px;
    width:393px;
    height:131px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:393px;
    height:131px;
    
}

.u23_normal {
    background-image: url('../搜索框_4_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:8px;
    width:474px;
    height:130px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:480px;
    height:136px;
}

.u24 {
    position:absolute;
    left:2px;
    top:57px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:8px;
    top:65px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:8px;
    top:110px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:80px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:95px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:8px;
    top:50px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:8px;
    top:20px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:8px;
    top:35px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:8px;
    top:5px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:886px;
    top:70px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:886px;
    top:84px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_container {
    position:absolute;
    left:479px;
    top:46px;
    width:48px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_container {
    position:absolute;
    left:537px;
    top:46px;
    width:52px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:601px;
    top:46px;
    width:53px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../搜索框_4_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u41 {
    position:absolute;
    left:410px;
    top:66px;
    width:297px;
    height:10px;
    
}

.u42_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_normal {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_container {
    position:absolute;
    left:420px;
    top:46px;
    width:49px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../前台页头（登录后）_4_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:20px;
    top:13px;
    width:16px;
    height:16px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:36px;
    top:14px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:211px;
    top:15px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../前台页头（登录后）_4_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1029px;
    top:74px;
    width:152px;
    height:39px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:158px;
    height:45px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../前台页头（登录后）_4_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:1038px;
    top:78px;
    width:32px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1093px;
    top:84px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:84px;
    top:14px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../商品详情页_files/placeholder_u56_normal.png');
}

.u56_container {
    position:absolute;
    left:41px;
    top:228px;
    width:314px;
    height:299px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:320px;
    height:305px;
}

.u57 {
    position:absolute;
    left:2px;
    top:142px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:402px;
    top:248px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:402px;
    top:279px;
    width:565px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:469px;
    top:388px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:384px;
    top:390px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:384px;
    top:423px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:384px;
    top:460px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../商品详情页_files/placeholder_u64_normal.png');
}

.u64_container {
    position:absolute;
    left:471px;
    top:422px;
    width:23px;
    height:18px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:24px;
}

.u65 {
    position:absolute;
    left:2px;
    top:1px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../商品详情页_files/placeholder_u64_normal.png');
}

.u66_container {
    position:absolute;
    left:505px;
    top:422px;
    width:23px;
    height:18px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:24px;
}

.u67 {
    position:absolute;
    left:2px;
    top:1px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../商品详情页_files/placeholder_u64_normal.png');
}

.u68_container {
    position:absolute;
    left:542px;
    top:422px;
    width:23px;
    height:18px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:24px;
}

.u69 {
    position:absolute;
    left:2px;
    top:1px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../商品详情页_files/placeholder_u64_normal.png');
}

.u70_container {
    position:absolute;
    left:579px;
    top:422px;
    width:23px;
    height:18px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:24px;
}

.u71 {
    position:absolute;
    left:2px;
    top:1px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:384px;
    top:495px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:471px;
    top:490px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74_normal {
    background-image: url('../商品详情页_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:555px;
    top:491px;
    width:16px;
    height:11px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u75 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../商品详情页_files/u74_normal.png');
}

.u76_container {
    position:absolute;
    left:555px;
    top:504px;
    width:16px;
    height:11px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u77 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../商品详情页_files/button_u78_mouseOver.png');
}

.u78_disabled {
    background-image: url('../商品详情页_files/button_u78_disabled.png');
}

.u78_normal {
    background-image: url('../商品详情页_files/button_u78_normal.png');
}

.u78_container {
    position:absolute;
    left:757px;
    top:537px;
    width:100px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:384px;
    top:357px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../商品详情页_files/placeholder_u81_normal.png');
}

.u81_container {
    position:absolute;
    left:471px;
    top:355px;
    width:55px;
    height:16px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:22px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../商品详情页_files/placeholder_u81_normal.png');
}

.u83_container {
    position:absolute;
    left:540px;
    top:355px;
    width:55px;
    height:16px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:22px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../商品详情页_files/placeholder_u81_normal.png');
}

.u85_container {
    position:absolute;
    left:616px;
    top:355px;
    width:55px;
    height:16px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:22px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../商品详情页_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:4px;
    width:931px;
    height:3px;
}

.u87 {
    position:absolute;
    left:240px;
    top:662px;
    width:931px;
    height:10px;
    
}

.u88_normal {
    background-image: url('../商品详情页_files/tab_u88_normal.png');
}

.u88_container {
    position:absolute;
    left:249px;
    top:637px;
    width:98px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:36px;
}

.u89 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../商品详情页_files/tab_u90_mouseOver.png');
}

.u90_disabled {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u90_normal {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u90_container {
    position:absolute;
    left:359px;
    top:637px;
    width:98px;
    height:30px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:36px;
}

.u91 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_mouseOver {
    background-image: url('../商品详情页_files/tab_u90_mouseOver.png');
}

.u92_disabled {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u92_normal {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u92_container {
    position:absolute;
    left:468px;
    top:637px;
    width:98px;
    height:30px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:36px;
}

.u93 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:259px;
    top:717px;
    width:66px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:259px;
    top:751px;
    width:137px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:259px;
    top:781px;
    width:183px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:259px;
    top:811px;
    width:183px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:259px;
    top:841px;
    width:137px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../商品详情页_files/placeholder_u99_normal.png');
}

.u99_container {
    position:absolute;
    left:259px;
    top:1041px;
    width:701px;
    height:256px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:262px;
}

.u100 {
    position:absolute;
    left:2px;
    top:120px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../商品详情页_files/placeholder_u99_normal.png');
}

.u101_container {
    position:absolute;
    left:259px;
    top:1316px;
    width:701px;
    height:256px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:262px;
}

.u102 {
    position:absolute;
    left:2px;
    top:120px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:259px;
    top:869px;
    width:900px;
    height:154px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:59px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:56px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../商品详情页_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:122px;
    top:537px;
    width:70px;
    height:75px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:75px;
}

.u109 {
    position:absolute;
    left:2px;
    top:30px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../商品详情页_files/u108_normal.png');
}

.u110_container {
    position:absolute;
    left:41px;
    top:537px;
    width:70px;
    height:75px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:75px;
}

.u111 {
    position:absolute;
    left:2px;
    top:30px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../商品详情页_files/u108_normal.png');
}

.u112_container {
    position:absolute;
    left:283px;
    top:537px;
    width:70px;
    height:75px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:75px;
}

.u113 {
    position:absolute;
    left:2px;
    top:30px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../商品详情页_files/u108_normal.png');
}

.u114_container {
    position:absolute;
    left:202px;
    top:537px;
    width:70px;
    height:75px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:75px;
}

.u115 {
    position:absolute;
    left:2px;
    top:30px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../商品详情页_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:41px;
    top:637px;
    width:181px;
    height:238px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:244px;
}

.u117 {
    position:absolute;
    left:2px;
    top:111px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../商品详情页_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:41px;
    top:637px;
    width:180px;
    height:30px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u119 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:49px;
    top:677px;
    width:161px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../商品详情页_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:19px;
    top:185px;
    width:721px;
    height:27px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:727px;
    height:33px;
}

.u122 {
    position:absolute;
    left:2px;
    top:6px;
    width:717px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:30px;
    top:188px;
    width:700px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../商品详情页_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:41px;
    top:907px;
    width:181px;
    height:239px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:245px;
}

.u125 {
    position:absolute;
    left:2px;
    top:112px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../商品详情页_files/u118_normal.png');
}

.u126_container {
    position:absolute;
    left:41px;
    top:907px;
    width:180px;
    height:30px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u127 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:51px;
    top:1094px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../商品详情页_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:61px;
    top:954px;
    width:149px;
    height:130px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:130px;
}

.u130 {
    position:absolute;
    left:2px;
    top:57px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:58px;
    top:1118px;
    width:150px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../商品详情页_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:259px;
    top:1594px;
    width:897px;
    height:196px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:903px;
    height:202px;
}

.u133 {
    position:absolute;
    left:2px;
    top:90px;
    width:893px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../商品详情页_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:923px;
    top:1605px;
    width:224px;
    height:29px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:29px;
}

.u135 {
    position:absolute;
    left:2px;
    top:6px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:284px;
    top:1646px;
    width:863px;
    height:91px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:1064px;
    top:1753px;
    width:61px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138_normal {
    background-image: url('../商品详情页_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:259px;
    top:1821px;
    width:897px;
    height:438px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:903px;
    height:444px;
}

.u139 {
    position:absolute;
    left:2px;
    top:211px;
    width:893px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../商品详情页_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:269px;
    top:1831px;
    width:878px;
    height:87px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:884px;
    height:93px;
}

.u141 {
    position:absolute;
    left:2px;
    top:36px;
    width:874px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../商品详情页_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:275px;
    top:1834px;
    width:30px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:309px;
    top:1835px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:309px;
    top:1850px;
    width:126px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:275px;
    top:1873px;
    width:836px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../商品详情页_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:1094px;
    top:1841px;
    width:16px;
    height:16px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u148 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:1116px;
    top:1841px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../商品详情页_files/u140_normal.png');
}

.u150_container {
    position:absolute;
    left:269px;
    top:1928px;
    width:878px;
    height:87px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:884px;
    height:93px;
}

.u151 {
    position:absolute;
    left:2px;
    top:36px;
    width:874px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../商品详情页_files/u142_normal.png');
}

.u152_container {
    position:absolute;
    left:275px;
    top:1931px;
    width:30px;
    height:30px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u153 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:309px;
    top:1932px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:309px;
    top:1947px;
    width:126px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:275px;
    top:1970px;
    width:836px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../商品详情页_files/u147_normal.png');
}

.u157_container {
    position:absolute;
    left:1094px;
    top:1938px;
    width:16px;
    height:16px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u158 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:1116px;
    top:1938px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../商品详情页_files/u140_normal.png');
}

.u160_container {
    position:absolute;
    left:269px;
    top:2025px;
    width:878px;
    height:87px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:884px;
    height:93px;
}

.u161 {
    position:absolute;
    left:2px;
    top:36px;
    width:874px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../商品详情页_files/u142_normal.png');
}

.u162_container {
    position:absolute;
    left:275px;
    top:2028px;
    width:30px;
    height:30px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u163 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:309px;
    top:2029px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:309px;
    top:2044px;
    width:126px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:275px;
    top:2067px;
    width:836px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../商品详情页_files/u147_normal.png');
}

.u167_container {
    position:absolute;
    left:1094px;
    top:2035px;
    width:16px;
    height:16px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u168 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:1116px;
    top:2035px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../商品详情页_files/u140_normal.png');
}

.u170_container {
    position:absolute;
    left:269px;
    top:2122px;
    width:878px;
    height:87px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:884px;
    height:93px;
}

.u171 {
    position:absolute;
    left:2px;
    top:36px;
    width:874px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../商品详情页_files/u142_normal.png');
}

.u172_container {
    position:absolute;
    left:275px;
    top:2125px;
    width:30px;
    height:30px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u173 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:309px;
    top:2126px;
    width:86px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:309px;
    top:2141px;
    width:126px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:275px;
    top:2164px;
    width:836px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../商品详情页_files/u147_normal.png');
}

.u177_container {
    position:absolute;
    left:1094px;
    top:2132px;
    width:16px;
    height:16px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u178 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:1116px;
    top:2132px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:585px;
    top:2227px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:600px;
    top:2227px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:615px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:640px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:665px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:690px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:715px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:740px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:765px;
    top:2227px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../商品详情页_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:790px;
    top:2230px;
    width:10px;
    height:10px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u190 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:805px;
    top:2227px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../商品详情页_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:565px;
    top:2230px;
    width:10px;
    height:10px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u193 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:530px;
    top:2227px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_line {
    background-image: url('../商品详情页_files/u195_line.png');
}

.u195_line {
    position:absolute;
    left:0px;
    top:4px;
    width:225px;
    height:3px;
}

.u195 {
    position:absolute;
    left:284px;
    top:1626px;
    width:225px;
    height:10px;
    
}

.u196_normal {
    background-image: url('../商品详情页_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:309px;
    top:1606px;
    width:85px;
    height:25px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u197 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../商品详情页_files/u196_normal.png');
}

.u198_container {
    position:absolute;
    left:308px;
    top:1796px;
    width:85px;
    height:25px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u199 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../商品详情页_files/u196_normal.png');
}

.u200_container {
    position:absolute;
    left:403px;
    top:1795px;
    width:85px;
    height:25px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u201 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_mouseOver {
    background-image: url('../商品详情页_files/tab_u90_mouseOver.png');
}

.u202_disabled {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u202_normal {
    background-image: url('../商品详情页_files/tab_u90_disabled.png');
}

.u202_container {
    position:absolute;
    left:576px;
    top:637px;
    width:98px;
    height:30px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:36px;
}

.u203 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../前台页尾_4_files/u177_normal.png');
}

.u204_container {
    position:absolute;
    left:10px;
    top:2290px;
    width:1201px;
    height:80px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u205 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:68px;
    top:2306px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_mouseOver {
    background-image: url('../商品详情页_files/button_u78_mouseOver.png');
}

.u208_disabled {
    background-image: url('../商品详情页_files/button_u78_disabled.png');
}

.u208_normal {
    background-image: url('../商品详情页_files/button_u78_normal.png');
}

.u208_container {
    position:absolute;
    left:867px;
    top:537px;
    width:100px;
    height:25px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:402px;
    top:537px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u211 {
    position:absolute;
    left:512px;
    top:537px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u212 {
    position:absolute;
    left:641px;
    top:388px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:556px;
    top:390px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_line {
    background-image: url('../商品详情页_files/u214_line.png');
}

.u214_line {
    position:absolute;
    left:0px;
    top:4px;
    width:133px;
    height:3px;
}

.u214 {
    position:absolute;
    left:585px;
    top:391px;
    width:133px;
    height:10px;
    
}

.u215 {
    position:absolute;
    left:49px;
    top:742px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_line {
    background-image: url('../商品详情页_files/u216_line.png');
}

.u216_line {
    position:absolute;
    left:0px;
    top:4px;
    width:180px;
    height:3px;
}

.u216 {
    position:absolute;
    left:41px;
    top:719px;
    width:180px;
    height:10px;
    
}

.u217 {
    position:absolute;
    left:49px;
    top:784px;
    width:100px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u218_line {
    background-image: url('../商品详情页_files/u218_line.png');
}

.u218_line {
    position:absolute;
    left:0px;
    top:4px;
    width:180px;
    height:3px;
}

.u218 {
    position:absolute;
    left:41px;
    top:821px;
    width:180px;
    height:10px;
    
}

.u219 {
    position:absolute;
    left:49px;
    top:841px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../商品详情页_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:30px;
    top:893px;
    width:212px;
    height:295px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:301px;
}

.u221 {
    position:absolute;
    left:2px;
    top:140px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

