* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u2_normal.png");
}

* html .u8_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u8_end.png");
}

* html .u8_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u8_line.png");
}

* html .u9_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u9_start.png");
}

* html .u9_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u9_end.png");
}

* html .u9_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u9_line.png");
}

* html .u15_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u15_end.png");
}

* html .u15_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u15_line.png");
}

* html .u16_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u16_end.png");
}

* html .u16_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u16_line.png");
}

* html .u17_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u17_end.png");
}

* html .u17_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u17_line.png");
}

* html .u18_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u18_end.png");
}

* html .u18_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u18_line.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u19_normal.png");
}

* html .u22_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u22_end.png");
}

* html .u22_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u22_line.png");
}

* html .u25_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u25_end.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u25_line.png");
}

* html .u27_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u27_end.png");
}

* html .u27_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u27_line.png");
}

* html .u28_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u28_start.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u28_line.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u29_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="20140113三弦思维模式探讨_files/u31_normal.png");
}

