body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页头（登录前）_files/u229_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1199px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:77px;
    top:4px;
    width:184px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:705px;
    top:2px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../前台页头（登录前）_files/u233_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:32px;
    width:179px;
    height:86px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:191px;
    top:35px;
    width:126px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:191px;
    top:77px;
    width:174px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../前台页头（登录前）_files/u239_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u10 {
    position:absolute;
    left:0px;
    top:148px;
    width:1199px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u11_container {
    position:absolute;
    left:419px;
    top:127px;
    width:85px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u13_container {
    position:absolute;
    left:314px;
    top:127px;
    width:85px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u15_container {
    position:absolute;
    left:207px;
    top:128px;
    width:85px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u17_container {
    position:absolute;
    left:529px;
    top:127px;
    width:85px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:401px;
    top:93px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:399px;
    top:63px;
    width:392px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../搜索框_files/Submit_button_u20_normal.png');
}

.u21_container {
    position:absolute;
    left:806px;
    top:62px;
    width:60px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:399px;
    top:88px;
    width:393px;
    height:131px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:393px;
    height:131px;
    
}

.u24_normal {
    background-image: url('../搜索框_files/u23_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:8px;
    width:474px;
    height:130px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:480px;
    height:136px;
}

.u25 {
    position:absolute;
    left:2px;
    top:57px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:8px;
    top:65px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:110px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:80px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:8px;
    top:95px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:8px;
    top:50px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:8px;
    top:20px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:8px;
    top:35px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:8px;
    top:5px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:876px;
    top:60px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:876px;
    top:74px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../搜索框_files/Section_tab_two_u35_mouseOver.png');
}

.u36_normal {
    background-image: url('../搜索框_files/Section_tab_two_u35_mouseOver.png');
}

.u36_container {
    position:absolute;
    left:469px;
    top:36px;
    width:48px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../搜索框_files/Section_tab_three_u37_mouseOver.png');
}

.u38_normal {
    background-image: url('../搜索框_files/Section_tab_three_u37_mouseOver.png');
}

.u38_container {
    position:absolute;
    left:527px;
    top:36px;
    width:52px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../搜索框_files/Section_tab_four_u39_mouseOver.png');
}

.u40_normal {
    background-image: url('../搜索框_files/Section_tab_four_u39_mouseOver.png');
}

.u40_container {
    position:absolute;
    left:591px;
    top:36px;
    width:53px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../搜索框_files/u41_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u42 {
    position:absolute;
    left:400px;
    top:56px;
    width:297px;
    height:10px;
    
}

.u43_mouseOver {
    background-image: url('../搜索框_files/Section_tab_one_u42_mouseOver.png');
}

.u43_normal {
    background-image: url('../搜索框_files/Section_tab_one_u42_mouseOver.png');
}

.u43_container {
    position:absolute;
    left:410px;
    top:36px;
    width:49px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../前台页头（登录前）_files/u275_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:3px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:26px;
    top:4px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:261px;
    top:4px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:299px;
    top:4px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../前台页头（登录前）_files/u280_normal.png');
}

.u51_container {
    position:absolute;
    left:1019px;
    top:64px;
    width:152px;
    height:39px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:158px;
    height:45px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../前台页头（登录前）_files/u282_normal.png');
}

.u53_container {
    position:absolute;
    left:1028px;
    top:68px;
    width:32px;
    height:32px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1083px;
    top:74px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../发布现货产品2_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:11px;
    top:218px;
    width:180px;
    height:515px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:521px;
}

.u58 {
    position:absolute;
    left:2px;
    top:250px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../发布现货产品2_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:11px;
    top:195px;
    width:180px;
    height:23px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:29px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:26px;
    top:228px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:26px;
    top:254px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../发布现货产品2_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:26px;
    top:290px;
    width:69px;
    height:18px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:24px;
}

.u64 {
    position:absolute;
    left:2px;
    top:1px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:213px;
    top:195px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:248px;
    top:221px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../发布现货产品2_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:313px;
    top:247px;
    width:879px;
    height:2100px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:885px;
    height:2106px;
}

.u68 {
    position:absolute;
    left:2px;
    top:1042px;
    width:875px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:382px;
    top:262px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:428px;
    top:256px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:382px;
    top:300px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:428px;
    top:296px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:382px;
    top:336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:428px;
    top:332px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:382px;
    top:375px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:428px;
    top:372px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:382px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:382px;
    top:586px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:428px;
    top:580px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:369px;
    top:627px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:428px;
    top:621px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:345px;
    top:667px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:428px;
    top:662px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:325px;
    top:707px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:428px;
    top:702px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128 {
    position:absolute;
    left:358px;
    top:746px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:428px;
    top:740px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130 {
    position:absolute;
    left:358px;
    top:782px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:428px;
    top:779px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u132 {
    position:absolute;
    left:358px;
    top:840px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_line {
    background-image: url('../发布现货产品2_files/u133_line.png');
}

.u133_line {
    position:absolute;
    left:0px;
    top:4px;
    width:855px;
    height:3px;
}

.u133 {
    position:absolute;
    left:325px;
    top:815px;
    width:855px;
    height:10px;
    
}

.u134 {
    position:absolute;
    left:428px;
    top:830px;
    width:492px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:930px;
    top:839px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:358px;
    top:882px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:428px;
    top:874px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138 {
    position:absolute;
    left:571px;
    top:883px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:358px;
    top:932px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:383px;
    top:1077px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:360px;
    top:1191px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:428px;
    top:1182px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:320px;
    top:1280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../发布现货产品2_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:428px;
    top:1326px;
    width:572px;
    height:148px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:578px;
    height:154px;
}

.u207 {
    position:absolute;
    left:2px;
    top:66px;
    width:568px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../发布现货产品2_files/u208_normal.png');
}

.u208_container {
    position:absolute;
    left:433px;
    top:1300px;
    width:77px;
    height:26px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:32px;
}

.u209 {
    position:absolute;
    left:2px;
    top:5px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:493px;
    top:1356px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:588px;
    top:1351px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u212 {
    position:absolute;
    left:586px;
    top:1399px;
    width:374px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_normal {
    background-image: url('../发布现货产品2_files/u213_normal.png');
}

.u213_container {
    position:absolute;
    left:428px;
    top:1474px;
    width:572px;
    height:80px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:578px;
    height:86px;
}

.u214 {
    position:absolute;
    left:2px;
    top:32px;
    width:568px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:445px;
    top:1484px;
    width:50px;
    height:50px;
}

#u215_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u216 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:445px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u218_container {
    position:absolute;
    left:520px;
    top:1484px;
    width:50px;
    height:50px;
}

#u218_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u219 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:520px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u221_container {
    position:absolute;
    left:606px;
    top:1484px;
    width:50px;
    height:50px;
}

#u221_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u222 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:606px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u224_container {
    position:absolute;
    left:695px;
    top:1484px;
    width:50px;
    height:50px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u225 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:695px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u227_container {
    position:absolute;
    left:777px;
    top:1484px;
    width:50px;
    height:50px;
}

#u227_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u228 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:777px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../发布现货产品2_files/u215_normal.png');
}

.u230_container {
    position:absolute;
    left:855px;
    top:1484px;
    width:50px;
    height:50px;
}

#u230_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u231 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:855px;
    top:1501px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:332px;
    top:1897px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_line {
    background-image: url('../发布现货产品2_files/u234_line.png');
}

.u234_line {
    position:absolute;
    left:0px;
    top:4px;
    width:840px;
    height:3px;
}

.u234 {
    position:absolute;
    left:332px;
    top:1878px;
    width:840px;
    height:10px;
    
}

.u235 {
    position:absolute;
    left:371px;
    top:1935px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:443px;
    top:1929px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u237 {
    position:absolute;
    left:543px;
    top:1935px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:592px;
    top:1929px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u239 {
    position:absolute;
    left:384px;
    top:1975px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:332px;
    top:2016px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:384px;
    top:2044px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:345px;
    top:2070px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:16px;
    top:0px;
    width:568px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:385px;
    top:2116px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:433px;
    top:2116px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257 {
    position:absolute;
    left:554px;
    top:2256px;
    width:134px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u258 {
    position:absolute;
    left:722px;
    top:2256px;
    width:72px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u259 {
    position:absolute;
    left:358px;
    top:1571px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:428px;
    top:1639px;
    width:572px;
    height:224px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u261_normal {
    background-image: url('../发布现货产品2_files/u261_normal.png');
}

.u261_container {
    position:absolute;
    left:428px;
    top:1597px;
    width:571px;
    height:42px;
}

#u261_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:577px;
    height:48px;
}

.u262 {
    position:absolute;
    left:2px;
    top:13px;
    width:567px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_mouseOver.png');
}

.u263_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_selected.png');
}

.u263_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u263_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u263_container {
    position:absolute;
    left:502px;
    top:1602px;
    width:27px;
    height:31px;
}

#u263_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:37px;
}

.u264 {
    position:absolute;
    left:2px;
    top:8px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265_line {
    background-image: url('../发布现货产品2_files/u265_line.png');
}

.u265_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:23px;
}

.u265 {
    position:absolute;
    left:589px;
    top:1607px;
    width:10px;
    height:23px;
    
}

.u266_line {
    background-image: url('../发布现货产品2_files/u266_line.png');
}

.u266_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:23px;
}

.u266 {
    position:absolute;
    left:591px;
    top:1607px;
    width:10px;
    height:23px;
    
}

.u267_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_mouseOver.png');
}

.u267_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_selected.png');
}

.u267_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u267_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u267_container {
    position:absolute;
    left:532px;
    top:1602px;
    width:27px;
    height:31px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:37px;
}

.u268 {
    position:absolute;
    left:2px;
    top:8px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_mouseOver.png');
}

.u269_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_bold_u263_selected.png');
}

.u269_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u269_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u269_container {
    position:absolute;
    left:562px;
    top:1602px;
    width:27px;
    height:31px;
}

#u269_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:37px;
}

.u270 {
    position:absolute;
    left:2px;
    top:8px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_unordered_list_u271_mouseOver.png');
}

.u271_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_unordered_list_u271_selected.png');
}

.u271_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_unordered_list_u271_normal.png');
}

.u271_container {
    position:absolute;
    left:602px;
    top:1602px;
    width:29px;
    height:32px;
}

#u271_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u272 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_ordered_list_u273_mouseOver.png');
}

.u273_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_ordered_list_u273_selected.png');
}

.u273_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_ordered_list_u273_normal.png');
}

.u273_container {
    position:absolute;
    left:633px;
    top:1602px;
    width:29px;
    height:32px;
}

#u273_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u274 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275_line {
    background-image: url('../发布现货产品2_files/u275_line.png');
}

.u275_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:23px;
}

.u275 {
    position:absolute;
    left:661px;
    top:1607px;
    width:10px;
    height:23px;
    
}

.u276_line {
    background-image: url('../发布现货产品2_files/u276_line.png');
}

.u276_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:23px;
}

.u276 {
    position:absolute;
    left:663px;
    top:1607px;
    width:10px;
    height:23px;
    
}

.u277_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_outdent_u277_mouseOver.png');
}

.u277_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_outdent_u277_selected.png');
}

.u277_disabled {
    background-image: url('../发布现货产品2_files/textarea_button_-_outdent_u277_disabled.png');
}

.u277_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_outdent_u277_normal.png');
}

.u277_container {
    position:absolute;
    left:674px;
    top:1602px;
    width:29px;
    height:32px;
}

#u277_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u278 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_indent_u279_mouseOver.png');
}

.u279_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_indent_u279_selected.png');
}

.u279_disabled {
    background-image: url('../发布现货产品2_files/textarea_button_-_indent_u279_disabled.png');
}

.u279_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_indent_u279_normal.png');
}

.u279_container {
    position:absolute;
    left:705px;
    top:1602px;
    width:29px;
    height:32px;
}

#u279_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u280 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_left_u281_mouseOver.png');
}

.u281_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_left_u281_selected.png');
}

.u281_disabled {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_left_u281_disabled.png');
}

.u281_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_left_u281_normal.png');
}

.u281_container {
    position:absolute;
    left:747px;
    top:1602px;
    width:29px;
    height:32px;
}

#u281_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u282 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_center_u283_mouseOver.png');
}

.u283_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_center_u283_selected.png');
}

.u283_disabled {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_center_u283_disabled.png');
}

.u283_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_center_u283_normal.png');
}

.u283_container {
    position:absolute;
    left:778px;
    top:1602px;
    width:29px;
    height:32px;
}

#u283_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u284 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285_mouseOver {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_right_u285_mouseOver.png');
}

.u285_selected {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_right_u285_selected.png');
}

.u285_disabled {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_right_u285_disabled.png');
}

.u285_normal {
    background-image: url('../发布现货产品2_files/textarea_button_-_align_right_u285_normal.png');
}

.u285_container {
    position:absolute;
    left:809px;
    top:1602px;
    width:29px;
    height:32px;
}

#u285_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:32px;
}

.u286 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287_normal {
    background-image: url('../前台页尾_files/u248_normal.png');
}

.u287_container {
    position:absolute;
    left:0px;
    top:2408px;
    width:1201px;
    height:80px;
}

#u287_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u288 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:58px;
    top:2424px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:337px;
    top:840px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292 {
    position:absolute;
    left:337px;
    top:882px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293 {
    position:absolute;
    left:360px;
    top:1231px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294 {
    position:absolute;
    left:428px;
    top:1226px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u295 {
    position:absolute;
    left:338px;
    top:1231px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296 {
    position:absolute;
    left:337px;
    top:1571px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297 {
    position:absolute;
    left:350px;
    top:1935px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298 {
    position:absolute;
    left:350px;
    top:1975px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u299 {
    position:absolute;
    left:353px;
    top:2044px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300 {
    position:absolute;
    left:351px;
    top:2117px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

