body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页头（登录前）_files/u229_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1199px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:77px;
    top:4px;
    width:184px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:705px;
    top:2px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../前台页头（登录前）_files/u233_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:32px;
    width:179px;
    height:86px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:191px;
    top:35px;
    width:126px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:191px;
    top:77px;
    width:174px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../前台页头（登录前）_files/u239_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u10 {
    position:absolute;
    left:0px;
    top:148px;
    width:1199px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u11_container {
    position:absolute;
    left:419px;
    top:127px;
    width:85px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u13_container {
    position:absolute;
    left:314px;
    top:127px;
    width:85px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u15_container {
    position:absolute;
    left:207px;
    top:128px;
    width:85px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../前台页头（登录前）_files/u240_normal.png');
}

.u17_container {
    position:absolute;
    left:529px;
    top:127px;
    width:85px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:401px;
    top:93px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:399px;
    top:63px;
    width:392px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../搜索框_files/Submit_button_u20_normal.png');
}

.u21_container {
    position:absolute;
    left:806px;
    top:62px;
    width:60px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:399px;
    top:88px;
    width:393px;
    height:131px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:393px;
    height:131px;
    
}

.u24_normal {
    background-image: url('../搜索框_files/u23_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:8px;
    width:474px;
    height:130px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:480px;
    height:136px;
}

.u25 {
    position:absolute;
    left:2px;
    top:57px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:8px;
    top:65px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:110px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:80px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:8px;
    top:95px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:8px;
    top:50px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:8px;
    top:20px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:8px;
    top:35px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:8px;
    top:5px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:876px;
    top:60px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:876px;
    top:74px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_mouseOver {
    background-image: url('../搜索框_files/Section_tab_two_u35_mouseOver.png');
}

.u36_normal {
    background-image: url('../搜索框_files/Section_tab_two_u35_mouseOver.png');
}

.u36_container {
    position:absolute;
    left:469px;
    top:36px;
    width:48px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../搜索框_files/Section_tab_three_u37_mouseOver.png');
}

.u38_normal {
    background-image: url('../搜索框_files/Section_tab_three_u37_mouseOver.png');
}

.u38_container {
    position:absolute;
    left:527px;
    top:36px;
    width:52px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../搜索框_files/Section_tab_four_u39_mouseOver.png');
}

.u40_normal {
    background-image: url('../搜索框_files/Section_tab_four_u39_mouseOver.png');
}

.u40_container {
    position:absolute;
    left:591px;
    top:36px;
    width:53px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../搜索框_files/u41_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u42 {
    position:absolute;
    left:400px;
    top:56px;
    width:297px;
    height:10px;
    
}

.u43_mouseOver {
    background-image: url('../搜索框_files/Section_tab_one_u42_mouseOver.png');
}

.u43_normal {
    background-image: url('../搜索框_files/Section_tab_one_u42_mouseOver.png');
}

.u43_container {
    position:absolute;
    left:410px;
    top:36px;
    width:49px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../前台页头（登录前）_files/u275_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:3px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:26px;
    top:4px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:261px;
    top:4px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:299px;
    top:4px;
    width:74px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../前台页头（登录前）_files/u280_normal.png');
}

.u51_container {
    position:absolute;
    left:1019px;
    top:64px;
    width:152px;
    height:39px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:158px;
    height:45px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../前台页头（登录前）_files/u282_normal.png');
}

.u53_container {
    position:absolute;
    left:1028px;
    top:68px;
    width:32px;
    height:32px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u54 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1083px;
    top:74px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../单个发货_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:115px;
    top:255px;
    width:996px;
    height:108px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1002px;
    height:114px;
}

.u58 {
    position:absolute;
    left:2px;
    top:46px;
    width:992px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../单个发货_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:115px;
    top:255px;
    width:996px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1002px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:992px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../单个发货_files/placeholder_u61_normal.png');
}

.u61_container {
    position:absolute;
    left:151px;
    top:293px;
    width:37px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:33px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:131px;
    top:343px;
    width:128px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:586px;
    top:301px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../单个发货_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:78px;
}

.u65 {
    position:absolute;
    left:682px;
    top:280px;
    width:10px;
    height:78px;
    
}

.u66_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:213px;
    top:304px;
    width:356px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:362px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:-9px;
    width:352px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:661px;
    top:301px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:724px;
    top:301px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../单个发货_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:78px;
}

.u70 {
    position:absolute;
    left:838px;
    top:280px;
    width:10px;
    height:78px;
    
}

.u71 {
    position:absolute;
    left:906px;
    top:301px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:265px;
    top:257px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:892px;
    top:257px;
    width:213px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:570px;
    top:257px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../单个发货_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:78px;
}

.u75 {
    position:absolute;
    left:986px;
    top:280px;
    width:10px;
    height:78px;
    
}

.u76 {
    position:absolute;
    left:1006px;
    top:301px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../单个发货_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:115px;
    top:400px;
    width:996px;
    height:200px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1002px;
    height:206px;
}

.u78 {
    position:absolute;
    left:2px;
    top:92px;
    width:992px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:151px;
    top:420px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:151px;
    top:455px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:151px;
    top:492px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:151px;
    top:529px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:151px;
    top:566px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:961px;
    top:378px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:115px;
    top:220px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../单个发货_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:115px;
    top:610px;
    width:996px;
    height:296px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1002px;
    height:302px;
}

.u87 {
    position:absolute;
    left:2px;
    top:140px;
    width:992px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../前台页尾_files/u248_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:929px;
    width:1201px;
    height:80px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u89 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:58px;
    top:945px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:526px;
    top:847px;
    width:150px;
    height:37px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:151px;
    top:649px;
    width:302px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../单个发货_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:151px;
    top:695px;
    width:31px;
    height:35px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:35px;
}

.u95 {
    position:absolute;
    left:2px;
    top:10px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:192px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:192px;
    top:735px;
    width:508px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../单个发货_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:875px;
    top:649px;
    width:207px;
    height:103px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:103px;
}

.u99 {
    position:absolute;
    left:2px;
    top:44px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../单个发货_files/u94_normal.png');
}

.u100_container {
    position:absolute;
    left:151px;
    top:772px;
    width:31px;
    height:35px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:35px;
}

.u101 {
    position:absolute;
    left:2px;
    top:10px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:192px;
    top:786px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../单个发货_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:888px;
    top:690px;
    width:180px;
    height:55px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:61px;
}

.u104 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../单个发货_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:20px;
    top:170px;
    width:365px;
    height:27px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:371px;
    height:33px;
}

.u106 {
    position:absolute;
    left:2px;
    top:6px;
    width:361px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:28px;
    top:173px;
    width:331px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:1212px;
    height:1537px;
    overflow:hidden;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:1212px;
    height:1537px;
    
}

.u109_normal {
    background-image: url('../单个发货_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1210px;
    height:1535px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1216px;
    height:1541px;
}

.u110 {
    position:absolute;
    left:2px;
    top:760px;
    width:1206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../单个发货_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:180px;
    top:199px;
    width:721px;
    height:514px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:514px;
}

.u112 {
    position:absolute;
    left:2px;
    top:249px;
    width:717px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:864px;
    top:199px;
    width:37px;
    height:34px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u114_normal {
    background-image: url('../单个发货_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:301px;
    top:609px;
    width:144px;
    height:29px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:35px;
}

.u115 {
    position:absolute;
    left:2px;
    top:6px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../单个发货_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:231px;
    top:563px;
    width:589px;
    height:41px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:595px;
    height:47px;
}

.u117 {
    position:absolute;
    left:2px;
    top:12px;
    width:585px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../单个发货_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:301px;
    top:609px;
    width:144px;
    height:29px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:35px;
}

.u119 {
    position:absolute;
    left:2px;
    top:6px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

