body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5em "微软雅黑","宋体",Tahoma,Helvetica,Arial,sans-serif;
	color:#828282;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
h4, h5, h6 {
    font-size: 100%;
}
h1,h2,h3{font-weight:normal;}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp, tt {
    font-family: "Courier New",Courier,monospace;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none outside none;
}
a {
	color: #828282;
    text-decoration: none;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
a:hover {
	color: #3277B1;
    text-decoration: none;
}
:focus {
    outline: 0 none;
}
abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
q:before, q:after {
    content: "";
}
legend {
    color: #000000;
}
fieldset, img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
input, select {
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: 0 none;
    height: 1px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.fl {
    float: left;
	display:inline;
}
.fr {
    float: right;
	display:inline;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix{
	zoom:1;
}
.hiden{display:none;}


/* table 表格 */
.table-box {
    width: 100%;
}
.table-box th{
	background-color:#f9f9f9;
	height:35px;
 }
 .table-box td{
	height:35px;
 }
.table-box, .table-box th, .table-box td {
    border: 1px solid #ddd;
}
.table-box th, .table-box td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.table-box td.status{
	color:#8bcf36;
}
.table-box em.status3{
	color:#a9a9a9;
}