body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../邮箱认证通过页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:60px;
    top:221px;
    width:970px;
    height:392px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:398px;
}

.u1 {
    position:absolute;
    left:2px;
    top:188px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../前台页尾_files/u248_normal.png');
}

.u2_container {
    position:absolute;
    left:19px;
    top:641px;
    width:1201px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:77px;
    top:657px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../邮箱认证通过页面_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:190px;
    top:387px;
    width:32px;
    height:32px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:236px;
    top:486px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:643px;
    top:481px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:236px;
    top:394px;
    width:297px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../邮箱认证通过页面_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:65px;
    top:243px;
    width:640px;
    height:34px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:9px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:100px;
    top:252px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../邮箱认证通过页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:707px;
    top:243px;
    width:278px;
    height:34px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:284px;
    height:40px;
}

.u15 {
    position:absolute;
    left:2px;
    top:9px;
    width:274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../邮箱认证通过页面_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:985px;
    top:243px;
    width:20px;
    height:34px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:40px;
}

.u17 {
    position:absolute;
    left:2px;
    top:9px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../邮箱认证通过页面_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:705px;
    top:243px;
    width:20px;
    height:34px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:40px;
}

.u19 {
    position:absolute;
    left:2px;
    top:9px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:761px;
    top:252px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../邮箱认证通过页面_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:26px;
}

.u21 {
    position:absolute;
    left:397px;
    top:240px;
    width:10px;
    height:26px;
    -webkit-transform: rotate(325deg);
    -moz-transform: rotate(325deg);
    -ms-transform: rotate(325deg);
    transform: rotate(325deg);

}

.u22_line {
    background-image: url('../邮箱认证通过页面_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:22px;
}

.u22 {
    position:absolute;
    left:394px;
    top:258px;
    width:10px;
    height:22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

.u23 {
    position:absolute;
    left:424px;
    top:252px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../注册登录页头_files/u46_normal.png');
}

.u24_container {
    position:absolute;
    left:28px;
    top:27px;
    width:179px;
    height:86px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:209px;
    top:30px;
    width:126px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:209px;
    top:72px;
    width:174px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../邮箱认证通过页面_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:43px;
}

.u31 {
    position:absolute;
    left:397px;
    top:41px;
    width:10px;
    height:43px;
    
}

.u32 {
    position:absolute;
    left:424px;
    top:50px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:310px;
    top:512px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:236px;
    top:512px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

