body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页尾_2_files/u29_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:931px;
    width:1201px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:58px;
    top:947px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../支付页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1199px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:705px;
    top:2px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../支付页面_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:32px;
    width:179px;
    height:86px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:191px;
    top:35px;
    width:126px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:191px;
    top:77px;
    width:174px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../支付页面_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:138px;
    width:1199px;
    height:10px;
    
}

.u14_normal {
    background-image: url('../支付页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:3px;
    width:16px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:26px;
    top:4px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:201px;
    top:5px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:74px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../支付页面_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:98px;
    top:228px;
    width:1065px;
    height:49px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1071px;
    height:55px;
}

.u20 {
    position:absolute;
    left:2px;
    top:16px;
    width:1061px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:113px;
    top:244px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:439px;
    top:244px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:536px;
    top:244px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:1004px;
    top:240px;
    width:152px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../支付页面_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:98px;
    top:277px;
    width:1065px;
    height:243px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1071px;
    height:249px;
}

.u26 {
    position:absolute;
    left:2px;
    top:114px;
    width:1061px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:397px;
    top:322px;
    width:388px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:388px;
    top:342px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:484px;
    top:363px;
    width:205px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:402px;
    top:367px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:510px;
    top:442px;
    width:89px;
    height:37px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:484px;
    top:400px;
    width:373px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../支付页面_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:98px;
    top:526px;
    width:1065px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1071px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:1061px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../支付页面_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:98px;
    top:566px;
    width:1065px;
    height:294px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1071px;
    height:300px;
}

.u36 {
    position:absolute;
    left:2px;
    top:139px;
    width:1061px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:113px;
    top:540px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../支付页面_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:853px;
    height:3px;
}

.u38 {
    position:absolute;
    left:132px;
    top:615px;
    width:853px;
    height:10px;
    
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../支付页面_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:175px;
    top:670px;
    width:112px;
    height:29px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../支付页面_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:345px;
    top:670px;
    width:112px;
    height:29px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:35px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../支付页面_files/u41_normal.png');
}

.u49_container {
    position:absolute;
    left:513px;
    top:670px;
    width:112px;
    height:29px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:35px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:285px;
    top:782px;
    width:100px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_normal {
    background-image: url('../支付页面_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:271px;
    top:582px;
    width:125px;
    height:38px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:44px;
}

.u53 {
    position:absolute;
    left:2px;
    top:11px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../支付页面_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:138px;
    top:582px;
    width:133px;
    height:38px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:44px;
}

.u55 {
    position:absolute;
    left:2px;
    top:11px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:708px;
    top:367px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../支付页面_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:426px;
    top:55px;
    width:105px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../支付页面_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:60px;
    height:3px;
}

.u59 {
    position:absolute;
    left:531px;
    top:70px;
    width:60px;
    height:10px;
    
}

.u60_normal {
    background-image: url('../支付页面_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:591px;
    top:55px;
    width:105px;
    height:40px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:46px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../支付页面_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:60px;
    height:3px;
}

.u62 {
    position:absolute;
    left:696px;
    top:70px;
    width:60px;
    height:10px;
    
}

.u63_normal {
    background-image: url('../支付页面_files/u57_normal.png');
}

.u63_container {
    position:absolute;
    left:756px;
    top:55px;
    width:105px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../支付页面_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:60px;
    height:3px;
}

.u65 {
    position:absolute;
    left:861px;
    top:70px;
    width:60px;
    height:10px;
    
}

.u66_normal {
    background-image: url('../支付页面_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:921px;
    top:55px;
    width:105px;
    height:40px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:46px;
}

.u67 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../支付页面_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:60px;
    height:3px;
}

.u68 {
    position:absolute;
    left:1026px;
    top:70px;
    width:60px;
    height:10px;
    
}

.u69_normal {
    background-image: url('../支付页面_files/u57_normal.png');
}

.u69_container {
    position:absolute;
    left:1086px;
    top:55px;
    width:105px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:12px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1080px;
    top:421px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

