body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页头（登录后）_4_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1199px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:705px;
    top:2px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../前台页头（登录后）_4_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:32px;
    width:179px;
    height:86px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:191px;
    top:35px;
    width:126px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:191px;
    top:77px;
    width:174px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../前台页头（登录后）_4_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u9 {
    position:absolute;
    left:0px;
    top:148px;
    width:1199px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:419px;
    top:127px;
    width:85px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:314px;
    top:127px;
    width:85px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:207px;
    top:128px;
    width:85px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:529px;
    top:127px;
    width:85px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:401px;
    top:93px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:399px;
    top:63px;
    width:392px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_normal {
    background-image: url('../搜索框_4_files/Submit_button_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:806px;
    top:62px;
    width:60px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:399px;
    top:88px;
    width:393px;
    height:131px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:393px;
    height:131px;
    
}

.u23_normal {
    background-image: url('../搜索框_4_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:8px;
    width:474px;
    height:130px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:480px;
    height:136px;
}

.u24 {
    position:absolute;
    left:2px;
    top:57px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:8px;
    top:65px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:8px;
    top:110px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:80px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:95px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:8px;
    top:50px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:8px;
    top:20px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:8px;
    top:35px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:8px;
    top:5px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:876px;
    top:60px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:876px;
    top:74px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_container {
    position:absolute;
    left:469px;
    top:36px;
    width:48px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_container {
    position:absolute;
    left:527px;
    top:36px;
    width:52px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:591px;
    top:36px;
    width:53px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../搜索框_4_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u41 {
    position:absolute;
    left:400px;
    top:56px;
    width:297px;
    height:10px;
    
}

.u42_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_normal {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_container {
    position:absolute;
    left:410px;
    top:36px;
    width:49px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../前台页头（登录后）_4_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:10px;
    top:3px;
    width:16px;
    height:16px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:26px;
    top:4px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:201px;
    top:5px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../前台页头（登录后）_4_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1019px;
    top:64px;
    width:152px;
    height:39px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:158px;
    height:45px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../前台页头（登录后）_4_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:1028px;
    top:68px;
    width:32px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1083px;
    top:74px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:74px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../表决详情页（操作）_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:7px;
    top:166px;
    width:721px;
    height:27px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:727px;
    height:33px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:717px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:18px;
    top:169px;
    width:700px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../表决详情页（操作）_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:11px;
    top:568px;
    width:541px;
    height:82px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:547px;
    height:88px;
}

.u60 {
    position:absolute;
    left:2px;
    top:33px;
    width:537px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:151px;
    top:207px;
    width:260px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:48px;
    top:364px;
    width:451px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:26px;
    top:574px;
    width:71px;
    height:67px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u64 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:107px;
    top:577px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:107px;
    top:623px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:107px;
    top:599px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../表决详情页（操作）_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u68 {
    position:absolute;
    left:10px;
    top:518px;
    width:1199px;
    height:10px;
    
}

.u69 {
    position:absolute;
    left:48px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:350px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:26px;
    top:537px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:522px;
    top:246px;
    width:69px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:390px;
    top:311px;
    width:75px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:384px;
    top:337px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:51px;
    top:311px;
    width:151px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:50px;
    top:337px;
    width:106px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../表决详情页（操作）_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:51px;
    top:294px;
    width:397px;
    height:8px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:397px;
    height:8px;
}

.u78 {
    position:absolute;
    left:2px;
    top:-4px;
    width:393px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../表决详情页（操作）_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:525px;
    top:290px;
    width:679px;
    height:219px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:685px;
    height:225px;
}

.u80 {
    position:absolute;
    left:2px;
    top:102px;
    width:675px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:541px;
    top:325px;
    width:50px;
    height:50px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u82 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:629px;
    top:325px;
    width:50px;
    height:50px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u84 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:541px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:629px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:541px;
    top:301px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u88_container {
    position:absolute;
    left:713px;
    top:325px;
    width:50px;
    height:50px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u89 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u90_container {
    position:absolute;
    left:801px;
    top:325px;
    width:50px;
    height:50px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u91 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:713px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:801px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u94_container {
    position:absolute;
    left:541px;
    top:417px;
    width:50px;
    height:50px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u95 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u96_container {
    position:absolute;
    left:629px;
    top:417px;
    width:50px;
    height:50px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u97 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:541px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:629px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u100_container {
    position:absolute;
    left:713px;
    top:417px;
    width:50px;
    height:50px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u101 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u102_container {
    position:absolute;
    left:801px;
    top:417px;
    width:50px;
    height:50px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u103 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:713px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:801px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u106_container {
    position:absolute;
    left:881px;
    top:325px;
    width:50px;
    height:50px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u107 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u108_container {
    position:absolute;
    left:969px;
    top:325px;
    width:50px;
    height:50px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u109 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:881px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:969px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u112_container {
    position:absolute;
    left:1049px;
    top:325px;
    width:50px;
    height:50px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u113 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u114_container {
    position:absolute;
    left:1137px;
    top:325px;
    width:50px;
    height:50px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u115 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1049px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:1137px;
    top:385px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u118_container {
    position:absolute;
    left:881px;
    top:417px;
    width:50px;
    height:50px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u119 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u120_container {
    position:absolute;
    left:969px;
    top:417px;
    width:50px;
    height:50px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u121 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:881px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:969px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u124_container {
    position:absolute;
    left:1051px;
    top:417px;
    width:50px;
    height:50px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u125 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u126_container {
    position:absolute;
    left:1139px;
    top:417px;
    width:50px;
    height:50px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u127 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:1051px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:1139px;
    top:477px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:1142px;
    top:299px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:50px;
    top:476px;
    width:339px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../表决详情页（操作）_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:553px;
    top:568px;
    width:657px;
    height:549px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:657px;
    height:549px;
}

.u133 {
    position:absolute;
    left:2px;
    top:266px;
    width:653px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../表决详情页（操作）_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:785px;
    top:582px;
    width:180px;
    height:32px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:38px;
}

.u135 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../表决详情页（操作）_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:573px;
    top:648px;
    width:620px;
    height:401px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:626px;
    height:407px;
}

.u137 {
    position:absolute;
    left:2px;
    top:192px;
    width:616px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../表决详情页（操作）_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:573px;
    top:624px;
    width:85px;
    height:25px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u139 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../表决详情页（操作）_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:668px;
    top:624px;
    width:95px;
    height:25px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:31px;
}

.u141 {
    position:absolute;
    left:2px;
    top:4px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:278px;
    top:598px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u143 {
    position:absolute;
    left:326px;
    top:603px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:375px;
    top:598px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u145 {
    position:absolute;
    left:421px;
    top:602px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:461px;
    top:602px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../表决详情页（操作）_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:11px;
    top:660px;
    width:525px;
    height:82px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:531px;
    height:88px;
}

.u148 {
    position:absolute;
    left:2px;
    top:33px;
    width:521px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u149_container {
    position:absolute;
    left:26px;
    top:666px;
    width:71px;
    height:67px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u150 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:107px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:107px;
    top:715px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:107px;
    top:691px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:278px;
    top:690px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155 {
    position:absolute;
    left:326px;
    top:695px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:375px;
    top:690px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u157 {
    position:absolute;
    left:421px;
    top:694px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:461px;
    top:694px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../表决详情页（操作）_files/u147_normal.png');
}

.u159_container {
    position:absolute;
    left:11px;
    top:752px;
    width:525px;
    height:82px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:531px;
    height:88px;
}

.u160 {
    position:absolute;
    left:2px;
    top:33px;
    width:521px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u161_container {
    position:absolute;
    left:26px;
    top:758px;
    width:71px;
    height:67px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u162 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:107px;
    top:761px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:107px;
    top:807px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:107px;
    top:783px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:278px;
    top:782px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u167 {
    position:absolute;
    left:326px;
    top:787px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:375px;
    top:782px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u169 {
    position:absolute;
    left:421px;
    top:786px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:461px;
    top:786px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../表决详情页（操作）_files/u147_normal.png');
}

.u171_container {
    position:absolute;
    left:11px;
    top:844px;
    width:525px;
    height:82px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:531px;
    height:88px;
}

.u172 {
    position:absolute;
    left:2px;
    top:33px;
    width:521px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u173_container {
    position:absolute;
    left:26px;
    top:850px;
    width:71px;
    height:67px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u174 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:107px;
    top:853px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:107px;
    top:899px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:107px;
    top:875px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:278px;
    top:874px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u179 {
    position:absolute;
    left:326px;
    top:879px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:375px;
    top:874px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u181 {
    position:absolute;
    left:421px;
    top:878px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:461px;
    top:878px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../表决详情页（操作）_files/u147_normal.png');
}

.u183_container {
    position:absolute;
    left:11px;
    top:936px;
    width:525px;
    height:82px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:531px;
    height:88px;
}

.u184 {
    position:absolute;
    left:2px;
    top:33px;
    width:521px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u185_container {
    position:absolute;
    left:26px;
    top:942px;
    width:71px;
    height:67px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u186 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:107px;
    top:945px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:107px;
    top:991px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:107px;
    top:967px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:278px;
    top:966px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u191 {
    position:absolute;
    left:326px;
    top:971px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:375px;
    top:966px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u193 {
    position:absolute;
    left:421px;
    top:970px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:461px;
    top:970px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../表决详情页（操作）_files/u147_normal.png');
}

.u195_container {
    position:absolute;
    left:11px;
    top:1035px;
    width:525px;
    height:82px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:531px;
    height:88px;
}

.u196 {
    position:absolute;
    left:2px;
    top:33px;
    width:521px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../表决详情页（操作）_files/u63_normal.png');
}

.u197_container {
    position:absolute;
    left:26px;
    top:1041px;
    width:71px;
    height:67px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:67px;
}

.u198 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:107px;
    top:1044px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:107px;
    top:1090px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:107px;
    top:1066px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:278px;
    top:1065px;
    width:42px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:326px;
    top:1070px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:375px;
    top:1065px;
    width:36px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:421px;
    top:1069px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:461px;
    top:1069px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u207_container {
    position:absolute;
    left:590px;
    top:666px;
    width:50px;
    height:50px;
}

#u207_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u208 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:592px;
    top:726px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../表决详情页（操作）_files/u210_normal.png');
}

.u210_container {
    position:absolute;
    left:650px;
    top:666px;
    width:325px;
    height:48px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:54px;
}

.u211 {
    position:absolute;
    left:2px;
    top:8px;
    width:321px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u212_container {
    position:absolute;
    left:590px;
    top:755px;
    width:50px;
    height:50px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u213 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:592px;
    top:815px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../表决详情页（操作）_files/u210_normal.png');
}

.u215_container {
    position:absolute;
    left:650px;
    top:755px;
    width:325px;
    height:48px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:54px;
}

.u216 {
    position:absolute;
    left:2px;
    top:8px;
    width:321px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../表决详情页（操作）_files/u217_normal.png');
}

.u217_container {
    position:absolute;
    left:573px;
    top:1076px;
    width:620px;
    height:30px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:626px;
    height:36px;
}

.u218 {
    position:absolute;
    left:2px;
    top:7px;
    width:616px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u219 {
    position:absolute;
    left:603px;
    top:1083px;
    width:17px;
    height:17px;
    overflow:hidden;
}

#pd1u219 {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
    
}

.u220_normal {
    background-image: url('../表决详情页（操作）_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

#u220_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u221 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u219 {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
    
}

.u222_normal {
    background-image: url('../表决详情页（操作）_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

#u222_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u223 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u224 {
    position:absolute;
    left:583px;
    top:1083px;
    width:17px;
    height:17px;
    overflow:hidden;
}

#pd1u224 {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
    
}

.u225_normal {
    background-image: url('../表决详情页（操作）_files/u225_normal.png');
}

.u225_container {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

#u225_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u226 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u224 {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
    
}

.u227_normal {
    background-image: url('../表决详情页（操作）_files/u227_normal.png');
}

.u227_container {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

#u227_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u228 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:629px;
    top:1082px;
    width:502px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u230 {
    position:absolute;
    left:1138px;
    top:1081px;
    width:50px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u231_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u231_container {
    position:absolute;
    left:592px;
    top:841px;
    width:50px;
    height:50px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u232 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:594px;
    top:901px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../表决详情页（操作）_files/u210_normal.png');
}

.u234_container {
    position:absolute;
    left:652px;
    top:841px;
    width:325px;
    height:48px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:54px;
}

.u235 {
    position:absolute;
    left:2px;
    top:8px;
    width:321px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../表决详情页（操作）_files/u81_normal.png');
}

.u236_container {
    position:absolute;
    left:592px;
    top:930px;
    width:50px;
    height:50px;
}

#u236_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u237 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:594px;
    top:990px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239_normal {
    background-image: url('../表决详情页（操作）_files/u210_normal.png');
}

.u239_container {
    position:absolute;
    left:652px;
    top:930px;
    width:325px;
    height:48px;
}

#u239_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:54px;
}

.u240 {
    position:absolute;
    left:2px;
    top:8px;
    width:321px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:16px;
    top:0px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244 {
    position:absolute;
    left:16px;
    top:0px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:621px;
    top:534px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u246_normal {
    background-image: url('../前台页尾_4_files/u177_normal.png');
}

.u246_container {
    position:absolute;
    left:0px;
    top:1150px;
    width:1201px;
    height:80px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u247 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:58px;
    top:1166px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

