body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../前台页头（登录后）_4_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1199px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1205px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:1195px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:705px;
    top:2px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../前台页头（登录后）_4_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:32px;
    width:179px;
    height:86px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:35px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:191px;
    top:35px;
    width:126px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:191px;
    top:77px;
    width:174px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../前台页头（登录后）_4_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1199px;
    height:3px;
}

.u9 {
    position:absolute;
    left:0px;
    top:148px;
    width:1199px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:419px;
    top:127px;
    width:85px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:314px;
    top:127px;
    width:85px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:207px;
    top:128px;
    width:85px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../前台页头（登录后）_4_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:529px;
    top:127px;
    width:85px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:401px;
    top:93px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:399px;
    top:63px;
    width:392px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_normal {
    background-image: url('../搜索框_4_files/Submit_button_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:806px;
    top:62px;
    width:60px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:399px;
    top:88px;
    width:393px;
    height:131px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:393px;
    height:131px;
    
}

.u23_normal {
    background-image: url('../搜索框_4_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:8px;
    width:474px;
    height:130px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:480px;
    height:136px;
}

.u24 {
    position:absolute;
    left:2px;
    top:57px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:8px;
    top:65px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:8px;
    top:110px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:80px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:95px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:8px;
    top:50px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:8px;
    top:20px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:8px;
    top:35px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:8px;
    top:5px;
    width:458px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:876px;
    top:60px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:876px;
    top:74px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_normal {
    background-image: url('../搜索框_4_files/Section_tab_two_u35_mouseOver.png');
}

.u35_container {
    position:absolute;
    left:469px;
    top:36px;
    width:48px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../搜索框_4_files/Section_tab_three_u37_mouseOver.png');
}

.u37_container {
    position:absolute;
    left:527px;
    top:36px;
    width:52px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_normal {
    background-image: url('../搜索框_4_files/Section_tab_four_u39_mouseOver.png');
}

.u39_container {
    position:absolute;
    left:591px;
    top:36px;
    width:53px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../搜索框_4_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u41 {
    position:absolute;
    left:400px;
    top:56px;
    width:297px;
    height:10px;
    
}

.u42_mouseOver {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_normal {
    background-image: url('../搜索框_4_files/Section_tab_one_u42_mouseOver.png');
}

.u42_container {
    position:absolute;
    left:410px;
    top:36px;
    width:49px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../前台页头（登录后）_4_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:10px;
    top:3px;
    width:16px;
    height:16px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:26px;
    top:4px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:201px;
    top:5px;
    width:45px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../前台页头（登录后）_4_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1019px;
    top:64px;
    width:152px;
    height:39px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:158px;
    height:45px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../前台页头（登录后）_4_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:1028px;
    top:68px;
    width:32px;
    height:32px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1083px;
    top:74px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:74px;
    top:4px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../分红详情_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:7px;
    top:166px;
    width:721px;
    height:27px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:727px;
    height:33px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:717px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:18px;
    top:169px;
    width:700px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../分红详情_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:8px;
    top:203px;
    width:875px;
    height:250px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:881px;
    height:256px;
}

.u60 {
    position:absolute;
    left:2px;
    top:117px;
    width:871px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../分红详情_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:33px;
    top:230px;
    width:173px;
    height:208px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:208px;
}

.u62 {
    position:absolute;
    left:2px;
    top:96px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:234px;
    top:233px;
    width:600px;
    height:188px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:234px;
    top:417px;
    width:627px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../前台页尾_4_files/u177_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:1521px;
    width:1201px;
    height:80px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1207px;
    height:86px;
}

.u66 {
    position:absolute;
    left:2px;
    top:32px;
    width:1197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:58px;
    top:1537px;
    width:1002px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../分红详情_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:867px;
    height:3px;
}

.u69 {
    position:absolute;
    left:18px;
    top:498px;
    width:867px;
    height:10px;
    
}

.u70_normal {
    background-image: url('../分红详情_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:257px;
    top:478px;
    width:85px;
    height:25px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../分红详情_files/u70_normal.png');
}

.u72_container {
    position:absolute;
    left:152px;
    top:477px;
    width:85px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../分红详情_files/u70_normal.png');
}

.u74_container {
    position:absolute;
    left:45px;
    top:477px;
    width:85px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../分红详情_files/u70_normal.png');
}

.u76_container {
    position:absolute;
    left:365px;
    top:477px;
    width:85px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../分红详情_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:905px;
    top:472px;
    width:293px;
    height:977px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:983px;
}

.u79 {
    position:absolute;
    left:2px;
    top:480px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:917px;
    top:490px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:918px;
    top:630px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../分红详情_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:917px;
    top:526px;
    width:258px;
    height:94px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:94px;
}

.u83 {
    position:absolute;
    left:2px;
    top:39px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:918px;
    top:656px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:917px;
    top:682px;
    width:282px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:918px;
    top:816px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../分红详情_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:917px;
    top:716px;
    width:258px;
    height:90px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:90px;
}

.u88 {
    position:absolute;
    left:2px;
    top:37px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:918px;
    top:842px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:917px;
    top:868px;
    width:282px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:918px;
    top:1042px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../分红详情_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:917px;
    top:930px;
    width:258px;
    height:103px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:103px;
}

.u93 {
    position:absolute;
    left:2px;
    top:44px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:918px;
    top:1068px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:917px;
    top:1094px;
    width:282px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../分红详情_files/u70_normal.png');
}

.u96_container {
    position:absolute;
    left:475px;
    top:477px;
    width:85px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:31px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:1148px;
    top:490px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:775px;
    top:230px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../分红详情_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:905px;
    top:203px;
    width:294px;
    height:74px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:80px;
}

.u101 {
    position:absolute;
    left:2px;
    top:29px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:918px;
    top:246px;
    width:253px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:917px;
    top:218px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../分红详情_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:905px;
    top:287px;
    width:294px;
    height:166px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:172px;
}

.u105 {
    position:absolute;
    left:2px;
    top:75px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:917px;
    top:302px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:917px;
    top:339px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:1128px;
    top:339px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:917px;
    top:357px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:1128px;
    top:357px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:917px;
    top:376px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1128px;
    top:376px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:917px;
    top:395px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1128px;
    top:395px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:917px;
    top:414px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1128px;
    top:414px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:1157px;
    top:302px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:919px;
    top:1287px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../分红详情_files/u92_normal.png');
}

.u119_container {
    position:absolute;
    left:918px;
    top:1175px;
    width:258px;
    height:103px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:103px;
}

.u120 {
    position:absolute;
    left:2px;
    top:44px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:919px;
    top:1313px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:918px;
    top:1339px;
    width:282px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:312px;
    top:1489px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:327px;
    top:1489px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:342px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:367px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:392px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:417px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:442px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:467px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:492px;
    top:1489px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../分红详情_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:517px;
    top:1492px;
    width:10px;
    height:10px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u133 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:532px;
    top:1489px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../分红详情_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:292px;
    top:1492px;
    width:10px;
    height:10px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u136 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:257px;
    top:1489px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:34px;
    top:682px;
    width:53px;
    height:45px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u139 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:97px;
    top:695px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:738px;
    top:696px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_line {
    background-image: url('../分红详情_files/u142_line.png');
}

.u142_line {
    position:absolute;
    left:0px;
    top:4px;
    width:867px;
    height:3px;
}

.u142 {
    position:absolute;
    left:18px;
    top:576px;
    width:867px;
    height:10px;
    
}

.u143 {
    position:absolute;
    left:60px;
    top:560px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:203px;
    top:560px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:482px;
    top:560px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:347px;
    top:560px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:634px;
    top:560px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:34px;
    top:605px;
    width:855px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_line {
    background-image: url('../分红详情_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:867px;
    height:3px;
}

.u149 {
    position:absolute;
    left:18px;
    top:638px;
    width:867px;
    height:10px;
    
}

.u150 {
    position:absolute;
    left:34px;
    top:657px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u151_container {
    position:absolute;
    left:34px;
    top:738px;
    width:53px;
    height:45px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u152 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:97px;
    top:752px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:738px;
    top:752px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u155_container {
    position:absolute;
    left:34px;
    top:793px;
    width:53px;
    height:45px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u156 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:97px;
    top:806px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:738px;
    top:807px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u159_container {
    position:absolute;
    left:34px;
    top:939px;
    width:53px;
    height:45px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u160 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:97px;
    top:952px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:738px;
    top:953px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:764px;
    top:518px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_line {
    background-image: url('../分红详情_files/u164_line.png');
}

.u164_line {
    position:absolute;
    left:0px;
    top:4px;
    width:867px;
    height:3px;
}

.u164 {
    position:absolute;
    left:18px;
    top:848px;
    width:867px;
    height:10px;
    
}

.u165 {
    position:absolute;
    left:34px;
    top:867px;
    width:493px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_line {
    background-image: url('../分红详情_files/u166_line.png');
}

.u166_line {
    position:absolute;
    left:0px;
    top:4px;
    width:867px;
    height:3px;
}

.u166 {
    position:absolute;
    left:34px;
    top:919px;
    width:867px;
    height:10px;
    
}

.u167 {
    position:absolute;
    left:76px;
    top:903px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:200px;
    top:903px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:583px;
    top:903px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:384px;
    top:903px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:749px;
    top:903px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:302px;
    top:903px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u173_container {
    position:absolute;
    left:34px;
    top:994px;
    width:53px;
    height:45px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u174 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:97px;
    top:1007px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:738px;
    top:1008px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u177_container {
    position:absolute;
    left:34px;
    top:1052px;
    width:53px;
    height:45px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u178 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:97px;
    top:1065px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:738px;
    top:1066px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u181_container {
    position:absolute;
    left:34px;
    top:1107px;
    width:53px;
    height:45px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u182 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:97px;
    top:1120px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:738px;
    top:1121px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u185_container {
    position:absolute;
    left:34px;
    top:1162px;
    width:53px;
    height:45px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u186 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:97px;
    top:1175px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:738px;
    top:1176px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u189_container {
    position:absolute;
    left:34px;
    top:1217px;
    width:53px;
    height:45px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u190 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:97px;
    top:1230px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:738px;
    top:1231px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u193_container {
    position:absolute;
    left:34px;
    top:1272px;
    width:53px;
    height:45px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u194 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:97px;
    top:1285px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:738px;
    top:1286px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u197_container {
    position:absolute;
    left:34px;
    top:1327px;
    width:53px;
    height:45px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u198 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:97px;
    top:1340px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:738px;
    top:1341px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u201_container {
    position:absolute;
    left:34px;
    top:1385px;
    width:53px;
    height:45px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u202 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:97px;
    top:1398px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:738px;
    top:1399px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../分红详情_files/u138_normal.png');
}

.u205_container {
    position:absolute;
    left:34px;
    top:1440px;
    width:53px;
    height:45px;
}

#u205_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:45px;
}

.u206 {
    position:absolute;
    left:2px;
    top:14px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:97px;
    top:1453px;
    width:619px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:738px;
    top:1454px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

